<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>TEXT TRANSLATOR</title>
</head>

<body>
    <br>
    <center><h1 style="color:rgb(214, 69, 43);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">TEXT TRANSLATOR</h1></center>
    <br>
    <div class="container"><br>
            <div style="background-color:rgb(28, 3, 49) ;" class="card text-center">
                <br>
        <center>
            <h2 style="color:rgb(245, 245, 252)">Text Successfully Translated</h2>
            <br>
            <br>
            <!-- <div class="card" style="padding: 30;"> -->
                <h3 style="font-family: Arial, Helvetica, sans-serif;color: rgb(120, 184, 184);">{{ translated }}</h3>
                <br>
        </center>
    <!-- </div> -->
    </div>
</div>
</body>

</html>